body {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
}

a.titlelink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* Make the text bold */
}

.titilelink {
    background-color: #006D77;
}

a.titlelink:hover {
    color: #007BFF;
    /* Change color on hover */
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.logo img {
    max-width: 90px;
    max-height: 90px;
    padding-top: 15px;
}

.logo-link {
    text-decoration: none;
    /* Removes underline */
    cursor: pointer;
    /* Changes cursor to pointer on hover */
}

.donate-btn {
    background-color: transparent;
    color: #ee964b;
    border: none;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}

.popup-menu-donate {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 480px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}


.popup-content {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.close-btn-donate {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.donate-btn:hover {
    color: #e24806;
    cursor: pointer;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the video covers the entire container */
}

.typing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: pink;
    font-size: 48px;
    white-space: nowrap;
    overflow: hidden;
}

.typing-text .line1 {
    animation: typing 4s steps(40) 1;
}

.typing-text .line2 {
    font-size: 36px;
    animation: brighten 2s infinite;
    color: pink;
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
}

.typing-text .line2:hover {
    color: #FF69B4;
    /* Change color on hover */
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes brighten {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}